<div class="max-w-5xl p-8 mx-auto">
  <img
    src="/Andy/images/Otras_imagenes/firma.jpg"
    alt="Firma del artista Andy Mendoza del Castillo"
    class="w-full animate-blurred-fade-in"
    loading="lazy"
  />
  <article
    class="text-gray-600 mt-4 text-justify text-base sm:text-lg md:text-xl lg:text-lg xl:text-lg"
  >
    <h1 class="font-medium text-black">Andy Mendoza del Castillo</h1>
    <p class="text-gray-400">(La Habana, Cuba, 1997)</p>
    <p>
      Es un <strong>artista multidisciplinario</strong> graduado de la
      <em>Academia Nacional de Bellas Artes San Alejandro</em> en 2017, y de la facultad
      de artes visuales del
      <em>Instituto Superior de Artes</em> de la Habana (ISA) en 2023.
    </p>
    <p>
      Su obra, tanto visual como sonora, ha sido mostrada en importantes
      galerías, espacios y eventos nacionales e internacionales, como el teatro
      del
      <em>Museo Nacional de Bellas Artes de Cuba (MNBA)</em>; las XII, XIII y
      XIV Bienales de la Habana; el festival PothoEspaña (2020) en
      <em>Casa América, Madrid</em>; la Muestra de Arte Cubano Contemporáneo HB
      (2023) y la 35ta edición del
      <em>Festival Internacional de Música Contemporánea de la Habana</em> en la
      Casa de las Américas de la capital cubana (2023).
    </p>
    <p>
      La producción visual de Andy en la actualidad articula un discurso basado
      en tensiones, conflictos e intereses, que proponen aproximaciones críticas
      y un tanto poéticas en torno al espacio, a lo que estos esconden, permiten
      o ponen en relieve. Sus obras subvierten posibles estrategias que, a
      través del objeto, la instalación y la fotografía como medios, nos
      consientan formular una revisión invectiva y re-configurada del pasado, la
      historia y el contexto.
    </p>
    <p>
      Cada pieza precisa reconciliar e hilvanar el objeto artístico con
      presupuestos claves que corresponden al contramonumento. Por lo tanto, sus
      artefactos podrían ser entendidos como «monumentos» que buscan, en
      esencia, cuestionar versiones oficiales o hegemónicas y recuperar posibles
      relatos ocultos, reprimidos o silenciados en la realidad cubana.
    </p>
  </article>
</div>
