<div class="flex flex-col justify-center mb-16  mx-4 mt-10 sm:text-xl md:text-xl lg:justify-center lg:ml-44 lg:text-xl">
  <div class="flex text-start mt-10 mx-16">
    <p class="font-bold justify-start mb-2">Estudio</p>
  </div>
  <div class="flex flex-col text-start mt-3 mx-16">
    <p class="justify-start text-slate-500">2023</p>
    <ul class="list-disc">
      <li>
        Artes Visuales, Instituto Superior de Arte (ISA). La Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2017</p>
    <ul class="list-disc">
      <li>Academia Nacional de Bellas Artes San Alejandro. La Habana, Cuba.</li>
    </ul>
  </div>
  <div class="flex text-start mt-10 mx-16">
    <p class="font-bold justify-start mb-2">Exposiciones Individuales</p>
  </div>
  <div class="flex flex-col text-start mt-3 mx-16">
    <p class="justify-start text-slate-500">2023</p>
    <ul class="list-disc">
      <li>
        Las Lágrimas y las cosas. Unión Nacional de Arquitectos e ingenieros de
        la Construcción de Cuba (UNAICC). Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2018</p>
    <ul class="list-disc">
      <li>
        Hablando medio enredado (dúo). Galería Antonia Eiriz, Casa del Joven
        Creador «La Madriguera». La Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2017</p>
    <ul class="list-disc">
      <li>
        Debajo de la cama y con una galleta en la mano. Galería José Antonio
        Díaz Peláez. Academia Nacional de Bellas Artes San Alejandro. La Habana,
        Cuba.
      </li>
    </ul>
  </div>
  <div class="flex text-start mt-10 mx-16">
    <p class="font-bold justify-start mb-2">Exposiciones Colectivas</p>
  </div>
  <div class="flex flex-col text-start mt-3 mx-16">
    <p class="justify-start text-slate-500">2023</p>
    <ul class="list-disc">
      <li>
        HB Muestra de arte cubano contemporáneo. Galería La Nave. La Habana,
        Cuba.
      </li>
      <li>Del piso no pasa. Alianza francesa. La Habana, Cuba.</li>
      <li>
        Puzzle 3ra ed. Arte cubano emergente. Galería Taller Gorría. La Habana,
        Cuba.
      </li>
      <li>Juana de las flores. La Lavandería. La Habana, Cuba.</li>
      <li>Otra belleza amarga. Galería Servando. La Habana, Cuba</li>
      <li>Ni las rosas ni los nidos. Casa Víctor Hugo. La Habana, Cuba.</li>
      <li>Réquiem. Arco de Belén. La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2022</p>
    <ul class="list-disc">
      <li>
        Territorial (Aire). Centro de Desarrollo de las Artes Visuales. La
        Habana, Cuba.
      </li>
      <li>Post-it 9. Galería Galiano. La Habana, Cuba.</li>
      <li>
        13 Relatos+1(8va edición). Fundación Ludwing de Cuba. La Habana, Cuba.
      </li>
      <li>
        Variis Bene. Centro Provincial de Artes Plásticas Luz y Oficios. La
        Habana, Cuba.
      </li>
      <li>
        Sima/Cima. XIV Bienal de la Habana, Facultad de Artes Visuales,
        Instituto Superior de Arte (ISA). La Habana, Cuba.
      </li>
      <li>Más de lo mismo. Estudio 50. La Habana, Cuba.</li>
      <li>
        Cuando el río suena. XIV Bienal de la Habana, Habana Espacios Creativos.
        La Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2021</p>
    <ul class="list-disc">
      <li>
        Del río que todo lo arrastra. XIV Bienal de la Habana, Museo de la
        Farmacia Habanera (antigua Farmacia Sarrá). La Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2020</p>
    <ul class="list-disc">
      <li>El mito de la caverna. Espacio Basarrate. La Habana, Cuba.</li>
      <li>
        Relatos Contemporáneos. Festival Photoespaña, Casa América. Madrid,
        España.
      </li>
      <li>
        Experimento #8: La Pesquisa. (Directorio digital)(8vo Salón de Arte
        Contemporáneo, Centro de Desarrollo de las Artes Visuales (CDAV). La
        Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2019</p>
    <ul class="list-disc">
      <li>
        Una cosa piensa el borracho y otra la Bartender. 41 Festival
        Internacional del Nuevo Cine Latinoamericano, Pabellón Cuba. La Habana,
        Cuba.
      </li>
      <li>Doxa. Festival de las Artes, Pabellón Cuba. La Habana, Cuba.</li>
      <li>
        Doxa. XIII Bienal de la Habana, Facultad de Artes Visuales, Instituto
        Superior de Arte (ISA). La Habana, Cuba
      </li>
      <li>
        Indagar lo propio. XIII Bienal de la Habana, Facultad de Artes Visuales,
        Instituto Superior de Arte (ISA). La Habana, Cuba.
      </li>
      <li>
        La raíz mordía. Colateral XIII Bienal de La Habana, Estudio Espacio
        Basarrate. La Habana, Cuba.
      </li>
      <li>
        Si tengo un ladrillo… donde lo pongo. Galería Servando Cabrera. La
        Habana, Cuba.
      </li>
      <li>La tierra dada. Pabellón Cuba. La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2016</p>
    <ul class="list-disc">
      <li>Proyecto Zip. Fundación Ludwing de Cuba. La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2014</p>
    <ul class="list-disc">
      <li>
        XII Bienal de La Habana, Galería Sitio 18, Academia Nacional de Bellas
        Artes San Alejandro. La Habana, Cuba.
      </li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2011</p>
    <ul class="list-disc">
      <li>
        Impacto. Galería Belkis Ayón, Centro Experimental de Las Artes Visuales
        José Antonio Díaz Peláez. La Habana, Cuba.
      </li>
    </ul>
    <div class="flex text-start mt-10">
      <p class="font-bold justify-start mb-2">Prensa/Textos/Publicaciones</p>
    </div>
    <ul class="list-disc">
      <li>
        ALMEIDA, Anna B. “Las Lágrimas y las cosas: Una exposición para no
        olvidar el ayer”. Noticias Arte Cubano. La Habana, diciembre de 2023.
      </li>
    </ul>
    <div class="flex text-start mt-10">
      <p class="font-bold justify-start mb-2">Conciertos/Presentaciones</p>
    </div>
    <p class="justify-start text-slate-500 mt-10">2023</p>
    <ul class="list-disc">
        <li>Festival Eyeife. Anfiteatro de la Habana, (Main Stage). La Habana, Cuba.<br> 
            Festival Eyeife. Fábrica de Arte Cubano (FAC / Nave 1). La Habana, Cuba.</li>
        <li>Aequalis. Festival Internacional de Música Contemporánea de la Habana (35ta ed.)Casa de las Américas. La Habana, Cuba.</li>
        <li>Festival Havana World Music. Fábrica de Arte Cubano (FAC). La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2022</p>
    <ul class="list-disc">
        <li>Festival Eyeife. Anfiteatro de la Habana, (Main Stage). La Habana, Cuba.<br> 
            Festival Eyeife. Fábrica de Arte Cubano (FAC / Nave 1). La Habana, Cuba.</li>
        <li>Metaloscopio (obra electroacústica). Museo Nacional de Bellas Artes. La Habana, Cuba.</li>
        <li>XIV Bienal de la Habana, concierto de inauguración. Instituto Superior de Arte (ISA). La Habana, Cuba.</li>
        <li>Festival Havana World Music. Fábrica de Arte Cubano (FAC / Nave 1). La Habana, Cuba.<br>
            Festival Havana World Music. Coliseo de la Ciudad Deportiva (Main Stage). La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2021</p>
    <ul class="list-disc">
        <li>Festival Eyeife. Live Session, Estudio 50 (Main Stage). La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2020</p>
    <ul class="list-disc">
        <li>Festival Eyeife. Home Session, PM Record. La Habana, Cuba.</li>
    </ul>
    <div class="flex text-start mt-10">
      <p class="font-bold justify-start mb-2">Premios</p>
    </div>
    <p class="justify-start text-slate-500 mt-10">2021</p>
    <ul class="list-disc">
        <li>Primera Base, categoría: Dj Productor. Festival Havana World Music. La Habana, Cuba.</li>
    </ul>
    <p class="justify-start text-slate-500 mt-10">2020</p>
    <ul class="list-disc">
        <li>Eyeife 2020 (3er premio). PM Record. La Habana, Cuba.</li>
    </ul>
</div>
