<div class="max-w-5xl p-8 mx-auto">
  <img src="/images/firma.jpg" alt="Firma-artista" class="w-full" />
  <article class="mt-4 text-justify text-base sm:text-lg md:text-xl lg:text-lg xl:text-lg">
   <span class="font-medium"> Andy Mendoza del Castillo </span> <span class="text-gray-500">(La Habana, Cuba, 1997) </span> es un artista
    multidisciplinario graduado de la <span class="italic">Academia Nacional de Bellas Artes San
    Alejandro </span> en el 2017, y de la facultad de artes visuales del Instituto
    Superior de Artes de la Habana (ISA) en el 2023. Su obra, tanto visual como
    sonora, ha sido mostrada en importantes galerías, espacios y eventos
    nacionales e internacionales, como el teatro del Museo Nacional de Bellas
    Artes de Cuba (MNBA); las XII, XIII y XIV Bienales de la Habana; el festival
    PothoEspaña (2020) en Casa América, Madrid; la Muestra de Arte Cubano
    Contemporáneo HB (2023) y la 35ta edición del Festival Internacional de
    Música Contemporánea de la Habana en la Casa de las Américas de la capital
    cubana (2023).
    <br>
    <br>
    La producción visual de Andy en la actualidad articula un
    discurso basado en tensiones, conflictos e intereses, que proponen
    aproximaciones críticas y un tanto poéticas en torno al espacio, a lo que
    estos esconden, permiten o ponen en relieve. Sus obras subvierten posibles
    estrategias que, a través del objeto, la instalación y la fotografía como
    medios, nos consientan formular una revisión invectiva y re-configurada del
    pasado, la historia y el contexto. Cada pieza precisa reconciliar e hilvanar
    el objeto artístico con presupuestos claves que corresponden al
    contramonumento. Por lo tanto, sus artefactos podrían ser entendidos como
    «monumentos» que buscan, en esencia, cuestionar versiones oficiales o
    hegemónicas y recuperar posibles relatos ocultos, reprimidos o silenciados
    en la realidad cubana.
  </article>
</div>
