---
import Header from "../components/landing/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andy Portafolio</title>
  </head>
    <Header />
  <body>
    <h1>Home Page</h1>
    <slot />
  </body>
</html>
