---
import Footer from "../components/landing/Footer.astro";
import Header from "../components/landing/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andy Portafolio</title>
  </head>
   
  <body>
     <Header />
    <slot />
    <Footer/>
  </body>
</html>

<!-- <style is:global>
  html{
    color-scheme: dark ligth ;
  }

</style> -->