<main class="container mx-auto px-4">
  <!-- Imagen del artista -->
  <div
    class="p-6 flex justify-center mt-16 max-w-3xl mx-auto mask-image gradient-mask"
  >
    <img
      src="/Andy/images/Otras_imagenes/Andy.jpg"
      alt="Retrato de Andy Mendoza del Castillo"
      class="rounded-lg"
    />
  </div>

  <!-- Información básica del artista -->
  <article class="p-6 text-start mt-2 max-w-3xl mx-auto">
    <h1 class="text-2xl text-slate-500">
      Andy <span class="text-slate-950">Mendoza</span>
    </h1>
    <p><span class="text-gray-500">La Habana, Cuba, 1997</span></p>
  </article>

  <!-- Estudio -->
  <section class="max-w-3xl p-6 text-start mt-2 lg:text-xl mx-auto">
    <h2 class="font-bold justify-start mb-2">Estudio</h2>
    <p class="text-slate-500 mt-3">2023</p>
    <ul class="list-disc ml-5">
      <li>
        Artes Visuales, Instituto Superior de Arte (ISA). La Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2017</p>
    <ul class="list-disc ml-5">
      <li>Academia Nacional de Bellas Artes San Alejandro. La Habana, Cuba.</li>
    </ul>
  </section>

  <!-- Exposiciones Individuales -->
  <section class="max-w-3xl p-6 text-start mt-10 lg:text-xl mx-auto">
    <h2 class="font-bold justify-start mb-2">Exposiciones Individuales</h2>
    <p class="text-slate-500 mt-3">2023</p>
    <ul class="list-disc ml-5">
      <li>
        Las Lágrimas y las cosas. Unión Nacional de Arquitectos e ingenieros de
        la Construcción de Cuba (UNAICC). La Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2018</p>
    <ul class="list-disc ml-5">
      <li>
        Hablando medio enredado (dúo). Galería Antonia Eiriz, Casa del Joven
        Creador «La Madriguera». La Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2017</p>
    <ul class="list-disc ml-5">
      <li>
        Debajo de la cama y con una galleta en la mano. Galería José Antonio
        Díaz Peláez. Academia Nacional de Bellas Artes San Alejandro. La Habana,
        Cuba.
      </li>
    </ul>
  </section>

  <!-- Exposiciones Colectivas -->
  <section class="max-w-3xl p-6 text-start mt-10 lg:text-xl mx-auto">
    <h2 class="font-bold justify-start mb-2">Exposiciones Colectivas</h2>
    <p class="text-slate-500 mt-3">2023</p>
    <ul class="list-disc ml-5">
      <li>
        HB Muestra de arte cubano contemporáneo. Galería La Nave. La Habana,
        Cuba.
      </li>
      <li>Del piso no pasa. Alianza francesa. La Habana, Cuba.</li>
      <li>
        Puzzle 3ra ed. Arte cubano emergente. Galería Taller Gorría. La Habana,
        Cuba.
      </li>
      <li>Juana de las flores. La Lavandería. La Habana, Cuba.</li>
      <li>Otra belleza amarga. Galería Servando. La Habana, Cuba</li>
      <li>Ni las rosas ni los nidos. Casa Víctor Hugo. La Habana, Cuba.</li>
      <li>Réquiem. Arco de Belén. La Habana, Cuba.</li>
    </ul>
    <p class="text-slate-500 mt-10">2022</p>
    <ul class="list-disc ml-5">
      <li>
        Territorial (Aire). Centro de Desarrollo de las Artes Visuales. La
        Habana, Cuba.
      </li>
      <li>Post-it 9. Galería Galiano. La Habana, Cuba.</li>
      <li>
        13 Relatos+1(8va edición). Fundación Ludwig de Cuba. La Habana, Cuba.
      </li>
      <li>
        Variis Bene. Centro Provincial de Artes Plásticas Luz y Oficios. La
        Habana, Cuba.
      </li>
      <li>
        Sima/Cima. XIV Bienal de la Habana, Facultad de Artes Visuales,
        Instituto Superior de Arte (ISA). La Habana, Cuba.
      </li>
      <li>Más de lo mismo. Estudio 50. La Habana, Cuba.</li>
      <li>
        Cuando el río suena. XIV Bienal de la Habana, Habana Espacios Creativos.
        La Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2021</p>
    <ul class="list-disc ml-5">
      <li>
        Del río que todo lo arrastra. XIV Bienal de la Habana, Museo de la
        Farmacia Habanera (antigua Farmacia Sarrá). La Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2020</p>
    <ul class="list-disc ml-5">
      <li>El mito de la caverna. Espacio Basarrate. La Habana, Cuba.</li>
      <li>
        Relatos Contemporáneos. Festival Photoespaña, Casa América. Madrid,
        España.
      </li>
      <li>
        Experimento #8: La Pesquisa. (Directorio digital)(8vo Salón de Arte
        Contemporáneo, Centro de Desarrollo de las Artes Visuales (CDAV). La
        Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2019</p>
    <ul class="list-disc ml-5">
      <li>
        Una cosa piensa el borracho y otra la Bartender. 41 Festival
        Internacional del Nuevo Cine Latinoamericano, Pabellón Cuba. La Habana,
        Cuba.
      </li>
      <li>Doxa. Festival de las Artes, Pabellón Cuba. La Habana, Cuba.</li>
      <li>
        Doxa. XIII Bienal de la Habana, Facultad de Artes Visuales, Instituto
        Superior de Arte (ISA). La Habana, Cuba.
      </li>
      <li>
        Indagar lo propio. XIII Bienal de la Habana, Facultad de Artes Visuales,
        Instituto Superior de Arte (ISA). La Habana, Cuba.
      </li>
      <li>
        La raíz mordía. Colateral XIII Bienal de La Habana, Estudio Espacio
        Basarrate. La Habana, Cuba.
      </li>
      <li>
        Si tengo un ladrillo… donde lo pongo. Galería Servando Cabrera. La
        Habana, Cuba.
      </li>
      <li>La tierra dada. Pabellón Cuba. La Habana, Cuba.</li>
    </ul>
    <p class="text-slate-500 mt-10">2016</p>
    <ul class="list-disc ml-5">
      <li>Proyecto Zip. Fundación Ludwig de Cuba. La Habana, Cuba.</li>
    </ul>
    <p class="text-slate-500 mt-10">2014</p>
    <ul class="list-disc ml-5">
      <li>
        XII Bienal de La Habana, Galería Sitio 18, Academia Nacional de Bellas
        Artes San Alejandro. La Habana, Cuba.
      </li>
    </ul>
    <p class="text-slate-500 mt-10">2011</p>
    <ul class="list-disc ml-5">
      <li>
        Impacto. Galería Belkis Ayón, Centro Experimental de Las Artes Visuales
        José Antonio Díaz Peláez. La Habana, Cuba.
      </li>
    </ul>
  </section>

  <!-- Prensa/Textos/Publicaciones -->
  <section class="max-w-3xl p-6 text-start mt-10 lg:text-xl mx-auto">
    <h2 class="font-bold justify-start mb-2">Prensa/Textos/Publicaciones</h2>
    <ul class="list-disc ml-5">
      <li>
        ALMEIDA, Anna B. “Las Lágrimas y las cosas: Una exposición para no
        olvidar el ayer”. Noticias Arte Cubano. La Habana, diciembre de 2023.
      </li>
    </ul>
  </section>

  <!-- Conciertos/Presentaciones -->
  <section class="max-w-3xl p-6 text-start mt-10 lg:text-xl mx-auto">
    <h2 class="font-bold justify-start mb-2">Conciertos/Presentaciones</h2>
    <p class="text-slate-500 mt-10">2023</p>
    <ul class="list-disc ml-5">
      <li>
        Festival Eyeife. Anfiteatro de la Habana, (Main Stage). La Habana,
      </li>
    </ul>
  </section>
</main>

<style>
  img {
    mask-image: linear-gradient(to bottom, transparent 0%, white 25%),
      linear-gradient(to top, transparent 0%, white 25%),
      linear-gradient(to right, transparent 0%, white 25%),
      linear-gradient(to left, transparent 0%, white 25%);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
  }
</style>
