---
import Layaouts from "../layaouts/Layaouts.astro";
import CV from "../components/Cv/cv.astro";
import HeroSections from "../components/Cv/heroSections.astro";
---

<Layaouts title="Andy | CV">
  <main>
    <HeroSections />
    <CV />
  </main>
</Layaouts>
