---
import Layaouts from "../layaouts/Layaouts.astro";
import CV from "../components/Cv/cv.astro";
---

<Layaouts title="Andy | CV">
  <div class="flex justify-center mx-8 mt-16">
    <img src="/images/Otras_imagenes/Andy.jpg" />
  </div>
  <div class="">
    <article class="mt-2 lg:ml-44">
      <p class="text-2xl text-slate-400">
        andy <span class="text-slate-950">mendoza</span>
      </p>
      <p><span class="text-gray-400">La Habana, Cuba, 1997</span></p>
    </article>
    <CV />
  </div>
</Layaouts>
