---
import Layaouts from "../layaouts/Layaouts.astro";
import Installations_Component from "../components/Installations/installations.astro";
---

<Layaouts title="Andy | Intallations">
  <main>
    <Installations_Component />
  </main>
</Layaouts>
