---
import Layaouts from "../layaouts/Layaouts.astro";
import NameExposition from "../components/Photography/name_Exposition.astro";
import CardImage from "../components/Photography/cardImage.astro";
import CritiqueTextComponent from "../components/Photography/critiqueText.astro";
import VideoCritiqueComponent from "../components/Photography/videoCritique.astro";
---

<Layaouts title="Andy | Photography">
  <div>
    <NameExposition />
    <CardImage />
    <CritiqueTextComponent />
    <VideoCritiqueComponent />
  </div>
  </Layaouts>
