---
import Layaouts from "../layaouts/Layaouts.astro";
import nube_sucia from "../config/installations/nube_sucia.json";
---

<Layaouts>
  <div>
    <h1 class="text-2xl pt-10 pl-10 mb-8 text-gray-400">
      de la serie Nube Sucia
    </h1>
    <div class="pl-10">
      <div class="text-sm font-semibold mb-2">2020-2024</div>
      <div class="text-md text-gray-600 italic">Fotografía digital</div>
      <div class="text-md text-gray-400 italic">12,7cm x 12,7cm (c/u)</div>
    </div>
    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 px-10 justify-center"
    >
      {
        nube_sucia.map((item) => (
          <div class="w-full mt-10 overflow-hidden">
            <img
              src={item.imagen}
              alt="Descripción de la imagen"
              class="w-full object-contain"
            />
          </div>
        ))
      }
    </div>
    <div class="md:text-lg lg:text-lg mt-20 px-10">
      <p>
        Durante el festival <span class="font-semibold">PhotoEspaña 2020</span>,
        el artista, investigador y comisario de arte español <span
          class="font-semibold">José María Díaz-Maroto</span
        > organizó, para los espacios de la Casa América de Madrid, una
        exhibición colectiva de artistas cubanos bajo el titulo <span
          class="italic">Relatos Contemporáneos</span
        >. En el siguiente video se muestra una selección de la serie <span
          class="italic">Nube sucia</span
        > realizadas por Andy Mendoza para el festival.
      </p>
    </div>
    <div class="flex justify-center mt-10 px-10">
      <div class="w-full max-w-screen-lg">
        <div class="relative" style="padding-top: 56.25%;">
          <iframe
            src="https://www.youtube.com/embed/4chNDinV9DU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="absolute top-0 left-0 w-full h-full"></iframe>
        </div>
      </div>
    </div>
  </div>
</Layaouts>
