---
import Layaouts from "../layaouts/Layaouts.astro";
import PressComponent from "../components/Press/press.astro";
---

<Layaouts title="Andy | Press">
  <main>
    <PressComponent />
  </main>
</Layaouts>
