---
import Layaouts from "../layaouts/Layaouts.astro";
---

<Layaouts>
  <div class="pl-8 mt-20 h-[280px]">
    <ul>
      <li class="list-disc text-sm font-semibold mb-2">
        Noticia de Arte Cubano. Diciembre 2023
      </li>
    </ul>
    <div class="ml-8">
      <p class="text-md text-gray-600 mb-0">Lagrimas y las cosas:</p>
      <p class="text-md text-gray-400 italic">
        Una exposición para no olvidar el ayer.
      </p>
    </div>
  </div>
</Layaouts>
