---
import Layaouts from "../layaouts/Layaouts.astro";

---

<Layaouts title="Andy | Shows">
<div>
    <div class="w-ful mx-8">
        <img src="/images/Otras_imagenes/1.jpg" alt="">
    </div>
    <div></div>
</div>
</Layaouts>
