<header>
  <nav class="flex items-center mb-10 justify-between gap-8 bg-white shadow-lg p-6">
    <div class="flex items-center flex-shrink-0 text-white">
      <img
        src="/images/Otras_imagenes/Andy.jpg"
        alt="Logo"
        class="size-14 ml-5 rounded-full sm:block"
      />
    </div>
    <div class="block md:hidden lg:hidden">
      <button
        id="boton"
        class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><title>Menu</title><path
            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
        >
      </button>
    </div>
    <div
      id="menu"
      class="hidden flex-grow sm:justify-self md:flex md:items-center md:justify-end md:w-auto lg:flex lg:items-center lg:w-auto"
    >
      <div
        class="text-lg  font-semibold sm:gap-2 sm:flex sm:text-sm sm:justify-center md:flex md:justify-center md:self-center md:space-x-5 md:text-base lg:flex-grow lg:justify-end lg:mr-10 lg:text-lg"
      >
        <a
          href="/"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          Home
        </a>
        <a
          href="/shows/shows_index"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          Shows
        </a>
        <a
          href="installations"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          Installations
        </a>
        <a
          href="photography"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          Photography
        </a>
        <a
          href="press"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          Press/Text
        </a>
        <a
          href="cv"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          CV
        </a>
        <a
          href="contact"
          class="block mt-4 md:inline-block md:mt-0 lg:inline-block lg:mt-0 text-black border-b-2 border-transparent hover:border-black mr-4 no-underline"
        >
          Contact
        </a>
      </div>
    </div>
    <script type="module" src="/public/toggleMenu"></script>
  </nav>
</header>
