<div
  class="mt-16 sm:flex sm:flex-row md:flex md:justify-center lg:flex lg:justify-center"
>
  <div class="sm:w-80 md:w-80 lg:w-4/12 lg:mr-20 mx-8">
   <img src="/Andy/images/Otras_imagenes/1.jpg" alt="" />
  </div>
  <div class="m-8 sm:m-0 md:m-0">
    <p class="mb-6 text-3xl">
      <span class="text-gray-400">Las lágrimas y las cosas</span>
    </p>
    <p class="mb-0 text-sm sm:text-sm">
      Octubre<span class="text-gray-400">__</span>Noviembre<span
        class="text-gray-400">__</span
      > 2 0 2 3
    </p>
    <p class="italic mb-0 text-sm sm:text-sm">
      Unión Nacional de Arquitectos e ingenieros de la Construcción de Cuba.
    </p>
    <p class="text-gray-400 text-sm sm:text-sm">
      Calle Humbolt no. 104 esq. Infanta. La Habana, Cuba.
    </p>
  </div>
  <div></div>
</div>
