<div class="md:text-lg lg:text-lg mt-20 px-10">
  <p>
    Durante el festival <span class="font-semibold">PhotoEspaña 2020</span>, el
    artista, investigador y comisario de arte español <span
      class="font-semibold">José María Díaz-Maroto</span
    > organizó, para los espacios de la Casa América de Madrid, una exhibición colectiva
    de artistas cubanos bajo el titulo <span class="italic"
      >Relatos Contemporáneos</span
    >. En el siguiente video se muestra una selección de la serie <span
      class="italic">Nube sucia</span
    > realizadas por Andy Mendoza para el festival.
  </p>
</div>
