<div class="flex justify-center mt-10 px-10">
  <div class="w-full max-w-screen-lg">
    <div class="relative" style="padding-top: 56.25%;">
      <iframe
        src="https://www.youtube.com/embed/4chNDinV9DU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"></iframe>
    </div>
  </div>
</div>
