---
import Carousel from "../../components/Landing/carouselIndex.astro";
import Layaouts from "../../layaouts/Layaouts.astro";
import ArticleLasLagrimas from "./article_las_lagrimas.astro";
---

<Layaouts title="Las lagrimas y las cosas">
  <main class="max-w-3xl m-auto">
    <Carousel />
    <ArticleLasLagrimas />
  </main>
</Layaouts>
