---
import CarouselShows from "../../components/Landing/carousel.astro";
import Layaouts from "../../layaouts/Layaouts.astro";
---

<Layaouts title="Las lagrimas y las cosas">
  <CarouselShows />
  <div><p>Las lagrimas y las cosas</p></div>
</Layaouts>
